<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyjob.android">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="44d71ac656c9aceb241e88edfdcc78f8" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ChooseActivity" />
        <activity
            android:name=".RecruiterActivity"
            android:label="@string/title_activity_recruiter" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".CompanyInfoActivity"
            android:parentActivityName=".CompanyInfoActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".ModifyRecruiterInfoActivity"
            android:parentActivityName=".ModifyRecruiterInfoActivity"
            android:theme="@style/BarTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ModifyRecruiterInfo1Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SystemNotificationsActivity"
            android:parentActivityName=".AddjobActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".AddjobActivity"
            android:parentActivityName=".AddjobActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".JobInfoActivity"
            android:parentActivityName=".JobInfoActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".ModifyJobActivity"
            android:parentActivityName=".ModifyJobActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".PartimerActivity"
            android:label="@string/title_activity_partimer"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity
            android:name=".ModifyPartimerInfo1Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PartimerInfoActivity"
            android:parentActivityName=".PartimerInfoActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".ModifyPartimerInfoActivity"
            android:parentActivityName=".ModifyPartimerInfoActivity"
            android:theme="@style/BarTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobInfoViewActivity"
            android:parentActivityName=".JobInfoViewActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".CompanyInfoViewActivity"
            android:parentActivityName=".CompanyInfoActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".AppyerActivity"
            android:parentActivityName=".AppyerActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".PartimerInfoViewActivity"
            android:parentActivityName=".PartimerInfoViewActivity"
            android:theme="@style/BarTheme" />
        <activity
            android:name=".MyJobActivity"
            android:parentActivityName=".MyJobActivity"
            android:theme="@style/BarTheme" />

        <activity android:name=".JobInfoView1Activity"
            android:parentActivityName=".JobInfoView1Activity"
            android:theme="@style/BarTheme"
            />
    </application>

</manifest>